.header-nav{
    display: flex;
    justify-content: space-between;
    border: 1px;
    height: 100px;
    background-color: rgb(147, 151, 122);
    padding: 10px;
    align-content: center;

}

.logo-item{

}

.logo-item img{
    width: 140px;
    height: 20px;

}
.nav-item{
    display: flex;
    list-style: none;
    align-content: center;
    gap: 10px;
}

.nav-item a{
    text-decoration: none;
}

