.container {
    height: 500px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
    border: 2px solid red;
    align-content: center;
}

.item {
    background-color: blue;
    border: 2px;
    color: white;
    text-align: center;
    grid-column:  1 / 2 /3;

}
