.container{
    
}

.logo-container{
    display: flex;
    justify-content: start;
    align-content: center;
}
.logo-style{
    width: 140px;
    height: 40px;  
}

.menu-container{
    display: flex;
    justify-content: right;
   
}
.menu-label-style{
    margin: 5px;

}