.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 10px solid black;
    height: 500px;
    align-items: center;
    align-content: center;
    
    
}
.box{
    background-color: aqua;
    border: 5px solid red;
    width: 150px;
    height: 150px;
    font-size: 50px;
    margin: 10px;
   
}